html {
    font-family: 'Oxygen', sans-serif;
}

body {
    margin: 0px;
    max-width: 100%;
}

.container {
    width: 100%;
    background: url(images/TR_background.jpg);
    background-size: 100% 100%;
    // opacity: 0.65;
    height: 650px;
}

.navbarText {
    display: flex;
    justify-content: flex-start;
}



.navbar div {
    display: none;
}
.navbar .toggle,
.navbar .brand {
    display: inline-block;
}
.navbar .link {
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background: #223047;
    color: white;
}
.navbar .link:hover,
.navbar .link:active {
    color: #223047;
    background: white;
}
.navbarText .brand {
    width: 10em;
    text-align: center;
    padding: 1em;
    color: black;
}
.navbar a {
    text-decoration: none;
}
.navbar .toggle {
    padding: 1em;
    color: black;
}

@media (min-width: 1200px) {
    .container { 
        max-width: 100%;
    }

    .navbar {
        max-width: 100%;
    }

    .navbarText {
        display: flex;
    }
}

// @media (min-width: 48em) {  
//     .container {
//         display: flex;
//         justify-content: flex-start;
//         width: 100%;
//     }

//     .navbar {
//         width: 100vw;
//         // display: flex;
//         // align-items: flex-start;
//     }

//     .navbar .left,
//     .navbar .right {
//         display: flex;
//         flex: 1;
//     }
    
//     .navbar .link {
//         width: auto;
//     }
//     .navbar .right {
//         justify-content: flex-end;
//     }
//     .navbar .toggle {
//         display: none;
//     }
// }
// @media (min-width: 48em) {
//     .navbar div {
//         display: flex;
//     }
// }
// @media (max-width: 48em) {
//     .navbar.active .toggle {
//         background: #223047;
//         color: white;
//     }
//     .navbar .brand {
//         text-align: left;
//     }
//     .navbar.active div {
//         display: block;
//     }
// }